.search_container {
  position: relative;
}

.adress_search_container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
}

.modeToggle {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 40;
    margin-left: 10px;
}

.modeToggle:hover {
    background: rgb(149, 149, 234);
    color: rgb(255, 255, 255);
}
